Python allows us to connect to various databases through database
interfaces. Python’s database interface is DB-API (Data Base–Application
Programming Interface). We can choose the database which we want to connect
to Python. Python DB-API supports a large number of databases like Oracle, MS-SQL server 2000, MySQL, mSQL, Sybase etc. For using each database we
need to download separate DB-API modules.

In [1]:
#DB Connection

#Install Mysql Connector for Python
#python -m pip install mysql-connector-python 

#Import Mysql Connector
import mysql.connector

In [2]:
#Database Connectivity
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="password",
    
# If you've already created a database then mention the database here. Otherwise create a new database.
  database="pythonMysql"
)

Before connecting to a database, following things should be done to assure the right
connectivity. 

1. Create a database called SAMPLE in MySQL. 

2. The user-id and password used to access SAMPLE database is “user” &”pass” respectively.

A cursor in SQL is a temporary work area created in system memory when a SQL statement is executed. A SQL cursor is a set of rows together with a pointer that identifies a current row. We use cursors to execute queries from python.

In [13]:
# The MySQLCursor of mysql-connector-python (and similar libraries) is used to execute statements to communicate with the MySQL database.
mycursor = mydb.cursor()

Creating DB

In [ ]:
# Code for creating a new database
mycursor.execute("CREATE DATABASE pythonMysql")

Creating Table

In [15]:
mycursor.execute("CREATE TABLE students (name VARCHAR(255), email VARCHAR(255), phone INT(10))")

Display tables

In [16]:
mycursor.execute("show tables")
for x in mycursor:
  print(x)

('students',)

Alter Table

In [17]:
mycursor.execute('alter table students add column id int AUTO_INCREMENT primary key')

Insert into Table

In [18]:
sql = 'insert into students (name,email,phone) values(%s, %s, %s)'
values = ('bnbn', 'bbnbn@gmail.com', 765323424)

Commit is the operation, which gives a green signal to database to finalize the changes, and after this operation, no change can be reverted back.

In [19]:
mycursor.execute(sql, values)
mydb.commit()
mycursor.close()

True

Insert Many rows

In [20]:
mycursor = mydb.cursor()
sql = 'insert into students (name,email,phone) values(%s, %s, %s)'
values = [('bnbn', 'bbnbn@gmail.com', 765323424),('fjghjghj', 'ssrcvbcvbr@gmail.com', 1465323424),('sasdad', 'asdad@gmail.com', 6465323424)]

In [21]:
mycursor.executemany(sql, values)

In [22]:
mydb.commit()
mycursor.close()

True

Display

In [5]:
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM students")

In [6]:
# fetchall() method fetches all (or all remaining) rows of a query result set and returns a list of tuples. 
#If no more rows are available, it returns an empty list
myresult = mycursor.fetchall()

In [7]:
for x in myresult:
  print(x)

('bnbn', 'bbnbn@gmail.com', 765323424, 1)
('bnbn', 'bbnbn@gmail.com', 765323424, 2)
('fjghjghj', 'ssrcvbcvbr@gmail.com', 1465323424, 3)
('sasdad', 'asdad@gmail.com', 2147483647, 4)

In [26]:
# The fetchone() method will return the first row of the result
mycursor.execute("SELECT * FROM students")
myresult = mycursor.fetchone()
print(myresult)

('bnbn', 'bbnbn@gmail.com', 765323424, 1)

In [77]:
mycursor.execute("SELECT * FROM students")
myresult = mycursor.fetchone()
print(myresult)

('bnbn', 'bbnbn@gmail.com', 765323424, 1)

In [32]:
#Using where condition
sql = "SELECT * FROM students WHERE email ='asdad@gmail.com'"
mycursor.execute(sql)
myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('sasdad', 'asdad@gmail.com', 2147483647, 4)

In [4]:
sql = "SELECT * FROM students WHERE email = %s"
email = ("asdad@gmail.com", )

mycursor.execute(sql, email)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('sasdad', 'asdad@gmail.com', 2147483647, 4)

Delete Operation

In [10]:
#DELETE OPERATION 
sql = "DELETE FROM students WHERE email = %s"
email = ("ssrcvbcvbr@gmail.com", )
mycursor.execute(sql, email)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

Update Operation

In [15]:
#UPDATE OPERATION
sql = "UPDATE students SET email =%s WHERE email =%s"
value = ("neethu@gmail.com","bbnbn@gmail.com")

mycursor.execute(sql,value)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

2 record(s) affected

Deleting a Table

In [16]:
#DELETE TABLE
sql = "DROP TABLE students"

mycursor.execute(sql)

In [17]:
mycursor.close()

True

Closing the connection

In [ ]:
mydb.close()

How to connect to MySQL from Python

In [ ]:
Create a table Student with fields student id as number, student name as character student email id as character and 
phone number as integer.
i) Insert 3 Data’s to the table Student
ii) Update the record of the table Student, set data field student email id to abc@mca.org where student id is 101
iii) Delete record from the table Student where student id is 102
iv) Display all records from the table Student
v) Display or fetch one record at a time from the database.


or


Write a complete Program in python to do all operation on a database table and explain with an example.

In [ ]:
import mysql.connector

In [ ]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="password",
    
# If you've already created a database then mention the database here. Otherwise create a new database.
  database="Student"
)

In [ ]:
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE Student")

In [ ]:
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE students(id INT(10) primary key not null,name VARCHAR(255), email VARCHAR(255), phone INT(10))")

In [ ]:
mycursor.execute("show tables")
for x in mycursor:
  print(x)

In [ ]:
mycursor = mydb.cursor()
sql = 'insert into students (id,name,email,phone) values(%s,%s, %s, %s)'
values = [(101,'Neethu', 'neethu@gmail.com', 765323424),(102,'Rahul', 'rahul@gmail.com', 1465323424),(103,'Pinky', 'pinky@gmail.com', 6465323424)]
mycursor.executemany(sql, values)
mydb.commit()
mycursor.close()

In [ ]:
mycursor = mydb.cursor()
sql = "UPDATE students SET email =%s WHERE id =%s"
value = ("abc@mca.org",101)

mycursor.execute(sql,value)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

In [ ]:
mycursor = mydb.cursor()
sql = "DELETE FROM students WHERE id = %s"
id = (102, )
mycursor.execute(sql, id)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

In [ ]:
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM students")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)
mycursor.close()

In [ ]:
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM students")
myresult = mycursor.fetchone()
print(myresult)

In [ ]:
mycursor.close()